<?xml version="1.0"?>

<model>
  <name>wooden_crate</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Abhijith</name>
    <email>abhijithprakas@tudelft.nl</email>
  </author>

  <description>
    A wooden crate for holding the flowers
  </description>
</model>
